[submodule "qemu"]
	path = qemu
	url = https://github.com/qemu/qemu.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot
[submodule "linux-stable"]
	path = linux-stable
	url = git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
